@import "framework";

.container{
    margin-top: 60px;
}

.title{
    font-size: 24px;
    margin: 0;
}

.content{
    font-size: 14px;
    line-height: 22px;
    margin-top: 33px;
    @include maxWidth(677px);
}

@include media-min($rwd-pc-hd){

    .container{
        margin-top: 30px;
    }

    .title{
        font-size: 36px;
    }

    .content{
        margin-top: 60px;
    }

}