@import "framework";

@mixin cta-bit-bgwhite {
    color: black;
    background-color: white;
    padding: 20px 0;
    &:hover{
        background-color: black;
        color: white;
    }
}

.cta{
    transition: all .3s linear;
    border: 1px solid black;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    &_bit{
        @include cta-bit-bgwhite;
    }
    &_bit_mb_w_full_dt_w_limit{
        @include cta-bit-bgwhite;
        @include container-center;
    }
}

@include media-min($rwd-pad){
    .cta{
        &_bit_mb_w_full_dt_w_limit{
            max-width: 325px;
        }
    }
}



.icon{
    font-size: 12px;
    &_bit{
        margin-right: 5px;
    }
}