@import "framework";

.container{
    @include container;
    margin-top: 60px;
}

.image{
    display: block;
}

.photos{
    margin-top: 71px;
}

.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
}

@include media-min($rwd-pc-hd){
    .container{
        margin-top: 100px;
        &:not(:first-of-type){
            margin-top: 140px;
        }
    }

    .photos{
        margin-top: 152px;
    }
}